<footer>
  <div class="footer-info">
    <div class="footer-socials">
      <a href="https://www.facebook.com/profile.php?id=100077085440303" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
     
    </div>

    <div class="footer-brand">
      &copy; <%= new Date().getFullYear() %> Sampada Birthday, All rights reserved.
    </div>

    <div class="footer-links">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
      <a href="/contact">Contact Us</a>
    </div>
  </div>
</footer>
